.background {
    /*background-color: blueviolet;*/
    width: auto;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.photo{
    width: 10vw;
    position: absolute;
    margin-top: 34vh;
    margin-left: 2vw;
}

.a {
    position: absolute;
}

.b {
    margin-left: 7vw;
    width: 30vw;
    margin-top: 9vh;
}

.c {
    margin-left: 20vw;
    width: 30vw;
    margin-top: -4vh;
}
